*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  color:#111827;
  transition:background 0.8s ease;
}

.container{
  width:100%;
  max-width:850px;
}

/* SEARCH */

.search-box{
  position:relative;
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.search-box input{
  flex:1;
  padding:16px;
  border:none;
  border-radius:16px;
  outline:none;
  font-size:16px;
  background:white;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.search-box button{
  width:60px;
  border:none;
  border-radius:16px;
  background:#2563eb;
  color:white;
  font-size:18px;
  cursor:pointer;
}

/* SUGGESTIONS */

#suggestions{
  position:absolute;
  top:62px;
  left:0;
  width:calc(100% - 70px);
  background:white;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  overflow:hidden;
  z-index:100;
  max-height:250px;
  overflow-y:auto;
}

.suggestion-item{
  padding:14px;
  cursor:pointer;
  border-bottom:1px solid #f1f5f9;
  transition:0.2s;
}

.suggestion-item:hover{
  background:#f8fafc;
}

/* WEATHER CARD */

.weather-card{
  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(20px);
  border-radius:28px;
  padding:30px;
  box-shadow:0 15px 40px rgba(0,0,0,0.1);
}

.top-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#cityName{
  font-size:38px;
  color:white;
}

#weatherDesc{
  margin-top:5px;
  color:#f1f5f9;
  text-transform:capitalize;
}

#temperature{
  font-size:72px;
  margin:20px 0;
  color:white;
}

/* DETAILS */

.details-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:16px;
}

.detail-card{
  background:rgba(255,255,255,0.15);
  border-radius:20px;
  padding:20px;
  text-align:center;
  color:white;
}

.detail-card i{
  font-size:22px;
  margin-bottom:10px;
}

.detail-card p{
  margin-bottom:8px;
}

/* FORECAST */

.forecast-section{
  margin-top:35px;
}

.forecast-section h2{
  color:white;
  margin-bottom:18px;
}

.forecast-container{
  display:flex;
  gap:15px;
  overflow-x:auto;
}

.forecast-card{
  min-width:120px;
  background:rgba(255,255,255,0.15);
  border-radius:18px;
  padding:18px;
  text-align:center;
  color:white;
}

.forecast-card img{
  width:60px;
}

.forecast-card small{
  color:#e2e8f0;
}

/* MOBILE */

@media(max-width:600px){

  .weather-card{
    padding:20px;
  }

  #temperature{
    font-size:52px;
  }

  #cityName{
    font-size:28px;
  }

  .top-section{
    flex-direction:column;
    text-align:center;
  }

}